/*! _dark.scss | CSS Ninja 2020-2021 */

/* ==========================================================================
Dark mode stylesheet
========================================================================== */

body {
  &.is-dark {
    background: lighten($dark-mode, 4%);

    .empty-placeholder {
      h2 {
        color: darken($white-light, 30%);
      }
    }

    .dropdown {
      .dropdown-menu {
        background: darken($dark-mode, 4%);
        border-color: darken($dark-mode, 4%);

        .dropdown-divider {
          border-color: lighten($dark-mode, 16%);
        }

        .dropdown-item {
          &:hover {
            background: darken($dark-mode, 1%);

            .media {
              background: darken($dark-mode, 1%);

              svg {
                stroke: lighten($primary, 6%);
              }
            }
          }

          &.is-header {
            &:hover {
              background: darken($dark-mode, 4%);
            }
          }

          .media {
            .media-content {
              h3 {
                color: darken($white-light, 30%);
              }
            }
          }
        }
      }
    }

    .add-conversation-modal {
      .inner {
        background: lighten($dark-mode, 5%);
      }

      .new-conversation-panel {
        background: darken($dark-mode, 4%);
        border-color: darken($dark-mode, 4%);

        h2 {
          color: darken($white-light, 30%);
        }

        .form-group {
          .form-control {
            background: lighten($dark-mode, 1%);
            border-color: lighten($dark-mode, 1%);
            color: $white-light;
          }
        }

        .selected-users {
          .selected-users-list {
            .selected-user {
              .avatar-container {
                .remove-icon {
                  background: lighten($dark-mode, 10%);
                  border-color: lighten($dark-mode, 10%);
                }
              }

              span {
                color: lighten($medium-text, 16%);
              }
            }
          }
        }
      }
    }

    .search-results {
      background: lighten($dark-mode, 3%);
      border-color: lighten($dark-mode, 3%);

      .search-result {
        border-color: lighten($dark-mode, 10%);

        &:hover {
          background: lighten($dark-mode, 1%);
        }

        .meta {
          span {
            &:first-child {
              color: darken($white-light, 50%);
            }
          }
        }
      }
    }

    .loads {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: placeload;
      animation-name: placeload;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      background: #191c26;
      background: #31374a;
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        #31374a 8%,
        #191c26 18%,
        #31374a 33%
      );
      background: -webkit-linear-gradient(
        left,
        #31374a 8%,
        #191c26 18%,
        #31374a 33%
      );
      background: linear-gradient(
        to right,
        #31374a 8%,
        #191c26 18%,
        #31374a 33%
      );
      -webkit-background-size: 800px 104px;
      background-size: 1200px 104px;
      position: relative;
    }

    .emoji-picker {
      background: darken($dark-mode, 4%);
      border-color: darken($dark-mode, 4%) !important;

      .emoji-picker__search-container {
        .emoji-picker__search {
          background: lighten($dark-mode, 1%);
          border-color: lighten($dark-mode, 1%);
          color: $white-light;
        }

        .emoji-picker__search-icon {
          color: $primary;
        }
      }

      .emoji-picker__tab-body {
        border-bottom-color: lighten($dark-mode, 12%) !important;

        h2 {
          color: $muted-grey;
        }
      }
    }

    .chat-wrapper {
      background: lighten($dark-mode, 4%);

      .chat-inner {
        .users-sidebar {
          background: $dark-mode;

          .conversations-list {
            .user-item {
              &.is-active,
              &:hover {
                background: lighten($dark-mode, 10%);

                .avatar-container {
                  .conversation-count {
                    border-color: lighten($dark-mode, 10%) !important;
                  }
                }
              }

              .avatar-container {
                .conversation-count {
                  border-color: $dark-mode;
                }
              }
            }
          }

          .footer-item {
            .add-button {
              background: $dark-mode;

              &:hover {
                background: $primary;

                svg {
                  stroke: $primary;
                }
              }
            }
          }
        }

        .chat-nav {
          background: $dark-mode;
          border-bottom-color: $dark-mode;

          .nav-start {
            .recipient-block {
              .avatar-container {
                .user-avatar {
                  border-color: $dark-mode;
                }
              }

              .username {
                span {
                  &:first-child {
                    color: $white-light;
                  }
                }
              }
            }
          }

          .nav-end {
            .chat-search {
              .form-group {
                .form-control {
                  background: lighten($dark-mode, 12%) !important;
                  border-color: lighten($dark-mode, 12%);
                  color: $white-light;

                  &::placeholder {
                    color: darken($white-light, 30%);
                  }
                }
              }
            }

            .chat-nav-item {
              &.is-icon {
                &:hover {
                  background: lighten($dark-mode, 5%);

                  i {
                    color: $white;
                  }
                }
              }

              &.is-account {
                border-color: lighten($dark-mode, 20%);

                &:hover {
                  border-color: $primary;
                }
              }
            }
          }
        }

        .chat-body {
          background: lighten($dark-mode, 4%);

          .chat-body-inner {
            .date-divider {
              hr {
                border-top-color: lighten($dark-mode, 16%);
              }

              span {
                background: lighten($dark-mode, 4%);
                color: lighten($dark-mode, 28%);
              }
            }

            .chat-message {
              &.is-received {
                .message-block {
                  .message-text {
                    background: lighten($dark-mode, 12%);
                    color: lighten($medium-text, 10%);

                    &:before {
                      border-top-color: lighten($dark-mode, 12%);
                    }
                  }
                }
              }

              &.is-sent {
                .message-block {
                  .message-text {
                    background: darken($dark-mode, 6%);
                    color: lighten($medium-text, 10%);

                    &:before {
                      border-top-color: darken($dark-mode, 6%);
                    }
                  }
                }
              }
            }
          }
        }

        .chat-action {
          background: lighten($dark-mode, 4%);

          .chat-action-inner {
            .control {
              textarea {
                background: $dark-mode;
                border-color: $dark-mode;
                color: darken($white-light, 30%);

                &:focus {
                  border-color: $dark-mode !important;
                }
              }
            }
          }
        }

        .chat-border {
          background: lighten($dark-mode, 4%);
        }

        .chat-panel {
          background: $dark-mode;
          border-color: $dark-mode;

          .panel-inner {
            .panel-header {
              background: $dark-mode;

              .nav {
                .nav-link {
                  color: darken($medium-text, 6%);
                  border-bottom-color: lighten($dark-mode, 16%);

                  &.active {
                    color: $white-light;
                  }
                }
              }

              .panel-close {
                &:hover {
                  background: lighten($dark-mode, 8%);
                }
              }
            }

            .panel-body {
              .block-title {
                .line {
                  border-color: lighten($dark-mode, 16%) !important;
                }
              }

              &.is-people {
                .panel-body-inner {
                  .participants-wrap {
                    .participants-block {
                      &.started-by {
                        .block-content {
                          .participant-item {
                            background: lighten($dark-mode, 4%);
                            border-color: lighten($dark-mode, 4%);

                            .avatar-container {
                              .user-status {
                                border-color: lighten($dark-mode, 4%);
                              }
                            }

                            .actions {
                              .action {
                                background: darken($dark-mode, 4%);
                                border-color: darken($dark-mode, 4%);

                                svg {
                                  color: $placeholder;
                                }

                                &:hover {
                                  background: $secondary;
                                  border-color: $secondary;
                                  box-shadow: $secondary-box-shadow;

                                  svg {
                                    stroke: $white;
                                    color: $white;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }

                      .block-title {
                        .line {
                          border-color: lighten($dark-mode, 16%);
                        }
                      }

                      .block-content {
                        .participant-item {
                          &:hover {
                            background: lighten($dark-mode, 4%);
                            border-color: lighten($dark-mode, 4%);
                          }

                          .avatar-container {
                            .user-status {
                              border-color: $dark-mode;
                            }
                          }

                          .meta {
                            span {
                              &:first-child {
                                color: $white-light;
                              }
                            }
                          }

                          .actions {
                            .action {
                              background: darken($dark-mode, 4%);
                              border-color: darken($dark-mode, 4%);

                              svg {
                                color: $placeholder;
                              }

                              &:hover {
                                background: $secondary;
                                border-color: $secondary;
                                box-shadow: $secondary-box-shadow;

                                svg {
                                  stroke: $white;
                                  color: $white;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

              &.is-activity {
                .panel-body-inner {
                  .block-title {
                    .line {
                      border-color: lighten($dark-mode, 16%);
                    }
                  }

                  .activity-items {
                    .activity-item {
                      border-color: $dark-mode;
                      background: $dark-mode;

                      .meta {
                        p {
                          span {
                            color: lighten($medium-text, 35%);
                          }
                        }
                      }
                    }
                  }
                }
              }

              &.is-user-details {
                .panel-body-inner {
                  .subheader {
                    .action-icon {
                      &:hover {
                        background: lighten($dark-mode, 8%);
                      }
                    }
                  }

                  .details-avatar {
                    .call-me {
                      border-color: $dark-mode;
                    }
                  }

                  .user-meta {
                    h3 {
                      color: $white-light;
                    }
                  }

                  .user-actions {
                    .user-action {
                      background: lighten($dark-mode, 8%);
                      border-color: lighten($dark-mode, 12%);

                      &:hover {
                        background: $primary;
                        border-color: $primary;
                      }
                    }
                  }

                  .user-about {
                    .about-block {
                      background: lighten($dark-mode, 8%);
                      border-color: lighten($dark-mode, 12%);

                      .about-text {
                        a {
                          color: $muted-grey;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
