<div class="chat-wrapper">
    <div class="chat-inner">

        <!-- Chat top navigation -->
        {{> chat-nav}}

        <!-- Chat sidebar -->
        <div id="chat-sidebar" class="users-sidebar" :class="{
                'is-mobile-active': layoutMobileActive,
                '': !layoutMobileActive
            }">
            <!-- Header -->
            <a href="/" class="header-item">
                <img src="/img/logo/wire.svg" alt="">
            </a>
            <!-- User list -->
            <div class="conversations-list has-slimscroll-xs">
                {{> conversations-list}}
            </div>
            <!-- Add Conversation -->
            <div class="footer-item">
                <div @click="toggleNewConversationModal()" class="add-button">
                    <i class="material-icons">add</i>
                </div>
            </div>
        </div>

        <!-- Chat body -->
        <div id="chat-body" class="chat-body" :class="{
                'is-opened': chatBodyOpened,
                '': !chatBodyOpened,
                'is-mobile-active': layoutMobileActive,
                '': !layoutMobileActive
            }">
            <!-- Conversation with Mike -->
            {{> mike-conversation}}

            <!-- Conversation with Audrey -->
            {{> audrey-conversation}}

            <!-- Conversation with Kristie -->
            {{> kristie-conversation}}

            <!-- Conversation with Ben -->
            {{> ben-conversation}}

            <!-- Conversation with Eddie -->
            {{> eddie-conversation}}

            <!-- Conversation with Walter -->
            {{> walter-conversation}}

            <!-- Conversation with Jim -->
            {{> jim-conversation}}

            <!-- Conversation with Tara -->
            {{> tara-conversation}}

            <!-- Compose message area -->
            <div class="chat-action">
                <div class="chat-action-inner">
                    <div id="message-input-wrapper" class="control">
                        <textarea id="message-input" class="form-control comment-textarea" rows="1"></textarea>
                        {{> compose-add-dropdown}}
                        <div class="toolbar">
                            <button id="emoji-picker-button" class="btn btn-emoji">
                                <i data-feather="smile"></i>
                            </button>
                            <button class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chat-border"></div>

        </div>

        <div id="chat-panel" class="chat-panel" :class="{
                'is-opened': chatBodyOpened,
                '': !chatBodyOpened,
                'is-mobile-opened': sidebarMobileOpen,
                '': !sidebarMobileOpen
            }">
            <div class="panel-inner">
                <div class="panel-header">
                    <div class="nav">
                        <a @click="switchPanelTabs($event)" class="nav-link" data-panel="participants-tab" :class="{
                            'active': activePanelTab === 'participants-tab',
                            '': activePanelTab != 'participants-tab'
                        }">People</a>
                        <a @click="switchPanelTabs($event)" class="nav-link" data-panel="activity-tab" :class="{
                            'active': activePanelTab === 'activity-tab',
                            '': activePanelTab != 'activity-tab'
                        }">Activity</a>
                        <div class="nav-naver"></div>
                    </div>
                    <div @click="closeChatPanel()" class="panel-close">
                        <i class="material-icons">close</i>
                    </div>
                </div>

                <!-- People tab -->
                {{> people}}

                <!-- Activity tab -->
                {{> activity}}

                <!-- User details -->
                {{> user}}

            </div>
        </div>
    </div>

    {{> add-conversation-modal}}

</div>

